In [ ]:
import pandas as pd
import numpy as np

In [ ]:
census_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Census_Income/Training_set_census.csv" )

In [ ]:
census_data.head()

   age  class_of_worker  ...  year  income_level
0   23          Private  ...    95             0
1   24          Private  ...    94             0
2   38          Private  ...    94             1
3   33  Not in universe  ...    95             0
4   13  Not in universe  ...    95             0

[5 rows x 41 columns]

In [ ]:
!pip install h2o
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Requirement already satisfied: h2o in /usr/local/lib/python3.6/dist-packages (3.30.0.7)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.6/dist-packages (from h2o) (0.4.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.10)
Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         12 mins 24 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.7
H2O_cluster_version_age:    19 days
H2O_cluster_name:           H2O_from_python_unknownUser_m438e9
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.157 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [ ]:
data = h2o.import_file("https://raw.githubusercontent.com/dphi-official/Datasets/master/Census_Income/Training_set_census.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [ ]:
val = h2o.import_file('https://raw.githubusercontent.com/dphi-official/Datasets/master/Census_Income/Testing_set_census.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [ ]:
train,test = data.split_frame([0.8])

In [ ]:
features = train.columns
features.remove('income_level')
y='income_level'
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()
aml = H2OAutoML(max_models=10,seed=1,nfolds=5,verbosity='warn')
aml.train(x=features,y='income_level',training_frame = train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [ ]:
aml.leaderboard

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_AllModels_AutoML_20200809_180358,0.955171,0.138421,0.71852,0.188905,0.19363,0.0374925
StackedEnsemble_BestOfFamily_AutoML_20200809_180358,0.954484,0.138888,0.716156,0.18031,0.194006,0.0376385
XGBoost_3_AutoML_20200809_180358,0.954316,0.124639,0.715585,0.185268,0.19032,0.0362216
GBM_2_AutoML_20200809_180358,0.953411,0.126412,0.708495,0.191955,0.191571,0.0366994
GBM_3_AutoML_20200809_180358,0.953106,0.126856,0.707282,0.195183,0.191921,0.0368338
XGBoost_1_AutoML_20200809_180358,0.953089,0.126717,0.705992,0.183313,0.192046,0.0368816
GBM_1_AutoML_20200809_180358,0.952961,0.127371,0.701859,0.186859,0.19215,0.0369217
GBM_5_AutoML_20200809_180358,0.952811,0.127247,0.705507,0.189814,0.192307,0.0369819
GBM_4_AutoML_20200809_180358,0.952235,0.128234,0.70353,0.190639,0.192933,0.0372231
XGBoost_2_AutoML_20200809_180358,0.951681,0.129146,0.696949,0.187301,0.193774,0.0375482

In [ ]:
y_pred = aml.predict(test)

stackedensemble prediction progress: |████████████████████████████████████| 100%

In [ ]:
y_pred

predict,p0,p1
0,0.982791,0.017209
0,0.982955,0.017045
0,0.983116,0.0168837
0,0.97834,0.0216598
0,0.977475,0.0225254
0,0.982431,0.0175693
0,0.983115,0.0168845
0,0.983053,0.0169475
0,0.970763,0.0292373
0,0.982451,0.0175488

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
print(f1_score(test.as_data_frame(use_pandas=True)['income_level'],y_pred.as_data_frame(use_pandas=True)['predict']))

0.6411483253588518

In [ ]:
submission_pred = aml.predict(val)

stackedensemble prediction progress: |████████████████████████████████████| 100%

/usr/local/lib/python3.6/dist-packages/h2o/job.py:70: UserWarning: Test/Validation dataset column 'd_household_family_stat' has levels not trained on: [Grandchild <18 ever marr not in subfamily]
  warnings.warn(w)

AttributeError: ignored

In [ ]:
submit = pd.DataFrame(submission_pred.as_data_frame(use_pandas=True)['predict'].tolist())

In [ ]:
from google.colab import files
submit.to_csv('prediction_results_HP1.csv')         
files.download('prediction_results_HP1.csv')